* {
  margin: 0;
}
.main__div {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/bg.jpg");
  height: 100vh;
  background-size: 100vw 100vh;
}
.Rest__Country {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.search__heading1 {
  margin: 1rem 0;
  padding: 5px;
  color: #090927;
  font-size: 1.75rem;
  text-align: center;
}
.search__heading3 {
  margin: 1rem 0;
  padding: 5px;
  color: #b36200;
  font-size: 1.5rem;
  text-align: center;
}
.Rest__Country__Search {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  width: 75%;
}
.form__label {
  position: fixed;
  right: 5000px;
}
.country__form {
  padding: 5px;
  color: #090927;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.search__country {
  border: none;
  padding: 5px;
  font-size: 1rem;
  width: 75%;
  outline: none;
}
.form__btn {
  padding: 5px;
  color: #b36200;
  font-size: 1.2rem;
  background-color: white;
  border-radius: 5px;
  outline: none;
}
.form__btn:hover {
  background-color: rgba(50, 50, 139, 0.2);
  cursor: pointer;
}
.country__list {
  align-self: center;
  padding: 5px;
}
.option {
  cursor: pointer;
}
.option:hover {
  background-color: grey;
}
.flag{
  width:  24rem;
  height: 12rem;
}
.country__info{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}
.country-name{
  font-size: 1.25rem;
  margin: 0.5rem 0;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  * {
    font-size: 14px;
  }
  .flag{
    width:  16rem;
    height: 8rem;
  }
}
